body {
  /* background: linear-gradient(to right, lightgrey, azure, aliceblue, peachpuff, lightyellow); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

  body img{
    max-width: 250px;
  }

  #cloudThree img{
  	/* margin-left: 250%; */
  	margin-top: 2%;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  body img{
    max-width: 200px;
  }

  #cloudThree img{
    /* margin-left: 250%; */
    margin-top: 2%;
  }
}
